<section class="services">
    <div class="services__container container">
        <h2 class="services__title title-fz">Что в себя включает услуга по замедлению <br> прогрессирования
            близорукости?</h2>
        <img class="services__img services__img--desktop"
             src="assets/services.svg"
             alt=""
             width="1196"
             height="413" loading="lazy"
        />
        <img class="services__img services__img--mobile"
               src="assets/services-mob.svg"
               alt=""
               width="1196"
               height="413" loading="lazy"
    />
    </div>
</section>
