<section class="problems">
    <div class="container">
        <h2 class="problems__title title-fz">Потенциальные проблемы со здоровьем глаз и зрением</h2>
        <div class="problems__container">
            <div class="problem-item">
                <picture>
                    <source srcset="assets/problem1.webp" type="image/webp"/>
                    <img class="problem-item__img" src="assets/problem1.jpg"
                         alt=""
                         width="380"
                         height="321" loading="lazy"
                    />
                </picture>
                <h3 class="problem-item__title text-fz-2">Нормальное зрение</h3>
            </div>
            <div class="problem-item">
                <picture>
                    <source srcset="assets/problem2.webp" type="image/webp"/>
                    <img class="problem-item__img" src="assets/problem2.jpg"
                         alt=""
                         width="380"
                         height="321" loading="lazy"
                    />
                </picture>
                <h3 class="problem-item__title text-fz-2">Зрение при отслойке <br> сетчатки </h3>
            </div>
            <div class="problem-item">
                <picture>
                    <source srcset="assets/problem3.webp" type="image/webp"/>
                    <img class="problem-item__img" src="assets/problem3.jpg"
                         alt=""
                         width="380"
                         height="321" loading="lazy"
                    />
                </picture>
                <h3 class="problem-item__title text-fz-2">Зрение при миопической макулопатии</h3>
            </div>
        </div>
        <div class="problems__percents">
            <div class="percent-item">
                <p class="text-fz-2">Увеличение близорукости
                    на каждую диоптрию увеличивает риск миопической макулопатии</p>
                <p class="percent-item__main">
                    <span class="percent-item__sub">на</span>
                    <span class="percent-item__num">67</span>
                    <span class="percent-item__sup">%</span>
                </p>
            </div>
            <div class="percent-item">
                <p class="text-fz-2">Замедление прогрессирования близорукости на 1 диоптрию снижает вероятность
                    развития макулопатии</p>
                <p class="percent-item__main">
                    <span class="percent-item__sub">на</span>
                    <span class="percent-item__num">40</span>
                    <span class="percent-item__sup">%</span>
                </p>
            </div>
        </div>
    </div>
</section>
