<div class="qr-slider @@class">
    <div class="container slider">
        <div class="swiper slider__swiper qr-slider__swiper-@@num">
            <div class="swiper-wrapper">
                <div class="swiper-slide qr-slider__item">
                    <p class="qr-slider__text text-fz">пр. Кирова, д. 314</p>
                    <a class="btn btn--sm btn--full" href="#">Скачать QR-код</a>
                </div>
                <div class="swiper-slide qr-slider__item">
                    <p class="qr-slider__text text-fz">пр. Кирова, 147 (ТРК Вива Лэнд)</p>
                    <a class="btn btn--sm btn--full" href="#">Скачать QR-код</a>
                </div>
                <div class="swiper-slide qr-slider__item">
                    <p class="qr-slider__text text-fz">ул. Ново-Садовая, д. 24</p>
                    <a class="btn btn--sm btn--full" href="#">Скачать QR-код</a>
                </div>
            </div>
        </div>
        <div class="swiper-button-next swiper-button-next-@@num"></div>
        <div class="swiper-button-prev swiper-button-prev-@@num"></div>
        <div class="swiper-pagination-@@num"></div>
    </div>
</div>
@@if (title === true) {
<div class="container">
    <h2 class="title-info title-fz">Близорукость или миопия – это растяжение глазного яблока, которое характеризуется
        снижением зрения вдаль и рисками для здоровья глаза вашего ребенка в будущем.</h2>
</div>
}
