<section class="team" id="team">
    <div class="container slider">
        <h2 class="team__title title-fz">Наши специалисты</h2>
        <div class="swiper slider__swiper team__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide team-item">
                    <picture>
                        <source srcset="assets/team1.webp"  type="image/webp"/>
                        <source srcset="assets/team1.jpg"  type="image/jpg"/>
                        <img class="team-item__img"
                             src="assets/team1.jpg"
                             alt=""
                             width="326"
                             height="326" loading="lazy"
                        />
                    </picture>
                    <p class="team-item__name text-fz">Новиков Александр Игоревич</p>
                    <p class="team-item__prof">Оптометрист</p>
                </div>
                <div class="swiper-slide team-item">
                    <picture>
                        <source srcset="assets/team2.webp"  type="image/webp"/>
                        <source srcset="assets/team2.jpg"  type="image/jpg"/>
                        <img class="team-item__img"
                             src="assets/team2.jpg"
                             alt=""
                             width="326"
                             height="326" loading="lazy"
                        />
                    </picture>
                    <p class="team-item__name text-fz">Ломоносов Михаил Александрович</p>
                    <p class="team-item__prof">Врач-офтальмолог</p>
                </div>
                <div class="swiper-slide team-item">
                    <picture>
                        <source srcset="assets/team3.webp"  type="image/webp"/>
                        <source srcset="assets/team3.jpg"  type="image/jpg"/>
                        <img class="team-item__img"
                             src="assets/team3.jpg"
                             alt=""
                             width="326"
                             height="326" loading="lazy"
                        />
                    </picture>
                    <p class="team-item__name text-fz">Макарова Елена Владимировна</p>
                    <p class="team-item__prof">Врач-офтальмолог</p>
                </div>
            </div>
        </div>
        <div class="swiper-button-next swiper-button-next-team"></div>
        <div class="swiper-button-prev swiper-button-prev-team"></div>
        <div class="swiper-pagination swiper-pagination-team"></div>
    </div>
</section>
