.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.3s $easing;

  border-width: 0;

  background-color: $btn-primary;

  color: $contrast;

  font-family: inherit;
  text-decoration: none;

  &:hover {
    background-color: $btn-hover;
  }
}

.btn--full {
  width: 100%;
}

.btn--sm {
  height: rem(44);

  border-radius: rem(22);
}

.btn--lg {
  height: rem(66);

  border-radius: rem(50);

  font-size: rem(24);
  font-weight: 600;

  @include to($md) {
    font-size: rem(20);
  }
}
