<section class="tools" id="tools">
    <div class="container slider">
        <h2 class="tools__title title-fz">Наше оборудование</h2>
        <div class="tools__slider-box">
            <div class="swiper slider__swiper tools__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide tools-item">
                        <picture>
                            <source srcset="assets/tool1.webp"  type="image/webp"/>
                            <source srcset="assets/tool1.jpg"  type="image/jpg"/>
                            <img class="tools-item__img"
                                 src="assets/tool1.jpg"
                                 alt=""
                                 width="326"
                                 height="321" loading="lazy"
                            />
                        </picture>
                    </div>
                    <div class="swiper-slide tools-item">
                        <picture>
                            <source srcset="assets/tool2.webp"  type="image/webp"/>
                            <source srcset="assets/tool2.jpg"  type="image/jpg"/>
                            <img class="tools-item__img"
                                 src="assets/tool2.jpg"
                                 alt=""
                                 width="326"
                                 height="321" loading="lazy"
                            />
                        </picture>
                    </div>
                    <div class="swiper-slide tools-item">
                        <picture>
                            <source srcset="assets/tool3.webp"  type="image/webp"/>
                            <source srcset="assets/tool3.jpg"  type="image/jpg"/>
                            <img class="tools-item__img"
                                 src="assets/tool3.jpg"
                                 alt=""
                                 width="326"
                                 height="321" loading="lazy"
                            />
                        </picture>
                    </div>
                    <div class="swiper-slide tools-item">
                        <picture>
                            <source srcset="assets/tool4.webp"  type="image/webp"/>
                            <source srcset="assets/tool4.jpg"  type="image/jpg"/>
                            <img class="tools-item__img"
                                 src="assets/tool4.jpg"
                                 alt=""
                                 width="326"
                                 height="321" loading="lazy"
                            />
                        </picture>
                    </div>
                    <div class="swiper-slide tools-item">
                        <picture>
                            <source srcset="assets/tool5.webp"  type="image/webp"/>
                            <source srcset="assets/tool5.jpg"  type="image/jpg"/>
                            <img class="tools-item__img"
                                 src="assets/tool5.jpg"
                                 alt=""
                                 width="326"
                                 height="321" loading="lazy"
                            />
                        </picture>
                    </div>
                    <div class="swiper-slide tools-item">
                        <picture>
                            <source srcset="assets/tool6.webp"  type="image/webp"/>
                            <source srcset="assets/tool6.jpg"  type="image/jpg"/>
                            <img class="tools-item__img"
                                 src="assets/tool6.jpg"
                                 alt=""
                                 width="326"
                                 height="321" loading="lazy"
                            />
                        </picture>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-button-next-tools"></div>
            <div class="swiper-button-prev swiper-button-prev-tools"></div>
            <div class="swiper-pagination swiper-pagination-tools"></div>
        </div>
    </div>
</section>
