<section class="signs">
    <div class="container">
        <h2 class="signs__title title-fz">Признаки близорукости</h2>
        <div class="signs__container">
            <ul class="signs__list">
                <li class="signs__item">В то время как глаз растет и близорукость прогрессирует, растет зависимость от очков</li>
                <li class="signs__item">Это может ограничивать детей
                    в занятиях спортом и других подвижных
                    видах деятельности
                </li>
                <li class="signs__item">Прогрессирование близорукости может приводить к проблемам со здоровьем глаз
                    в будущем
                </li>
            </ul>
            <picture>
                <source srcset="assets/signs.webp" type="image/webp"/>
                <img class="signs__img" src="assets/signs.png"
                     alt=""
                     width="600"
                     height="340" loading="lazy"
                />
            </picture>
        </div>
    </div>
</section>
