<header class="header">
    <div class="header__container container">
        <a class="logo" href="/">
            <img src="assets/logo.png" alt="Оптика" width="128" height="59" />
        </a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="#intro">Участие в акции</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#team">Наши специалисты</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#tools">Наше оборудование</a>
                </li>
                <li class="nav__item nav__item--mobile">
                    <a class="nav-phone-link" href="tel:88462014240">
                        <span class="nav-phone-link__num">
                            <svg class="nav-phone-link__icon"><use xlink:href="./styles/icons/sprite.svg#phone"/></svg>
                            8(846)201-42-40</span>
                        <span class="nav-phone-link__hint">Задать вопрос</span>
                    </a>
                </li>
            </ul>
        </nav>
        <a class="phone-link" href="tel:88462014240">
            <span class="phone-link__num">
                <svg class="phone-link__icon"><use xlink:href="./styles/icons/sprite.svg#phone"/></svg>
                8(846)201-42-40</span>
            <span class="phone-link__hint">Задать вопрос</span>
        </a>
        <button class="menu-btn" type="button">
            <span class="menu-btn__line"></span>
            <span class="menu-btn__line"></span>
            <span class="menu-btn__line"></span>
        </button>
    </div>
</header>
