<section class="feedback">
    <div class="container">
        <h2 class="feedback__title title-fz">Оставьте свой отзыв о программе «Яркое Будущее™» <br>
            с линзами MiSight® 1 day</h2>
        <a class="feedback__link btn btn--lg" href="https://ru.otzyv.com/linzy-misight-1day" target="_blank">Оставить отзыв</a>
        <h3 class="feedback__subtitle">Ссылки на использованные источники:</h3>
        <p class="feedback__hint">1 Джонг М. и соавт. Международный институт миопии, 2021. Ежегодный дайджест. 2 На
            основании результата
            трехлетнего рандомизированного исследования 144 носителей в возрасте от 8 до 12 лет (на начало
            исследования), MIST-401. 30.04.2018 г. Чемберлен П. и соавт. Трехлетнее рандомизированное клиническое
            исследование влияния линз MiSight® 1 day на замедление прогрессирования миопии. Оптометрия и Наука о Зрении,
            2019; 96:556-567. 3 Вольфсон Дж.С., Калосси А., Чо П. и соавт. Мировые тренды ведения пациентов с миопией и
            стратегия клинической практики. Контактные линзы и передний отрезок глаза 2016;39:106-16. 4 Санкаридург П.
            Контактные линзы для замедления миопии. Клиническая и Экспериментальная оптометрия 2017 100(5) 432-437.
        </p>
        <hr class="feedback__divider">
        <p>*Сроки акции с 1 августа по 31 августа 2022. Для получения бесплатной консультации ребенка 8-15 лет и пробной
            пары линз MiSight® 1 day:</p>
        <ol class="feedback__list">
            <li>Скачайте QR-код.</li>
            <li>Запишитесь на консультацию по указанному в QR-коде телефону.</li>
            <li>В назначенное время придите в оптику и предъявите QR-код.</li>
        </ol>
        <p>Под бесплатной консультацией понимаются услуги по проверке зрения, оценке риска появления
            и прогрессирования миопии и рекомендации по замедлению прогрессирования миопии.</p>
        <p>Бесплатная пара лечебных контактных линз MiSight®️ 1 day – диагностические контактные линзы, которые
            специалист по коррекции зрения надевает
            при подборе при наличии показаний в ходе консультации. Линзы не выдаются пациенту на руки.</p>
        <p>Организатор Акции и место проведения Акции - оптика, в которой проводится данная Акция.
            Организатор вправе изменить сроки акции, разместив информацию на сайте.
            Подробные условия Акции можно узнать у консультанта оптики.</p>
        <p>** В России представлены и другие методы согласно клиническим рекомендациям «Миопия»,
            2020-2021-2022 (16.02.2021), утв. Минздравом РФ</p>
        <p>Мягкие терапевтические контактные линзы MiSight®️ 1 day. Рег.уд.: № РЗН 2020/12048 от 11.02.2022 г.</p>
        <p>Данная информация на сайте предназначена для родителей/ опекунов/законных представителей несовершеннолетних.
            Информация не предназначена для несовершеннолетних, не достигших возраста 18 лет.</p>
    </div>
</section>
