<section class="intro">
    <div class="intro__container container">
        <h1 class="intro__title title-fz">Замедление прогрессирования близорукости </h1>
        <picture>
            <source srcset="assets/banner-sm.webp" media="(max-width: 576px)" type="image/webp"/>
            <source srcset="assets/banner-sm.jpg" media="(max-width: 576px)" type="image/jpg"/>
            <source srcset="assets/banner-md.webp" media="(max-width: 768px)" type="image/webp"/>
            <source srcset="assets/banner-md.jpg" media="(max-width: 768px)" type="image/jpg"/>
            <source srcset="assets/banner-lg.webp" media="(min-width: 769px)" type="image/webp"/>
            <source srcset="assets/banner-lg.jpg" media="(min-width: 769px)" type="image/jpg"/>
            <img class="intro__img"
                    src="assets/banner-lg.jpg"
                    alt=""
                    width="1200"
                    height="372" loading="lazy"
            />
        </picture>
        <div class="intro__info" id="intro">
            <h2 class="intro__subtitle title-fz">Для участия в акции от CooperVision необходимо:</h2>
            <ol class="intro__list text-fz">
                <li>Выбрать удобную для вас оптику</li>
                <li>Скачать QR-код</li>
                <li>Записаться на консультацию по указанному в QR-коде телефону</li>
                <li>В назначенное время прийти в оптику и предъявить QR-код</li>
            </ol>
        </div>
    </div>
</section>
