<footer class="footer">
    <div class="footer__container container">
        <a class="footer-logo" href="/">
            <img class="footer-logo__main" src="assets/logo.png" alt="Оптика" width="128" height="59" />
            <img class="footer-logo__bg" src="assets/footer-logo-bg.png" alt="" width="128" height="59" />
        </a>
        <a class="footer-social-link" href="tel:88462014240">
            <svg>
                <use xlink:href="./styles/icons/sprite.svg#vk"/>
            </svg>

        </a>
        <a class="footer-phone-link" href="tel:88462014240">
            <span class="footer-phone-link__num">
                <svg class="footer-phone-link__icon"><use xlink:href="./styles/icons/sprite.svg#phone"/></svg>
                8(846)201-42-40</span>
            <span class="footer-phone-link__hint">Задать вопрос</span>
        </a>
    </div>
</footer>
