.title-fz {
  font-size: 2rem;

  @include to($md) {
    font-size: rem(24);
  }

  @include to($sm) {
    font-size: rem(20);
  }
}

.text-fz {
  font-size: rem(24);

  @include to($md) {
    font-size: rem(20);
  }
}

.text-fz-2 {
  font-size: rem(24);

  @include to($tb) {
    font-size: rem(20);
  }

  @include to($md) {
    font-size: rem(16);
  }
}

@mixin h2-font {
  font-size: 2.56rem;
}

@mixin h3-font {
  font-size: 2.22rem;
}

@mixin h4-font {
  font-size: 1.78rem;
}

@mixin h5-font {
  font-size: 1.33rem;
}

@mixin h6-font {
  font-size: 1rem;
}

@mixin p-font {
  font-size: 1rem;
}

@mixin sub-font {
  font-size: 0.78rem;
}
