$base: 16px;
$easing: cubic-bezier(0.11, 0, 0.5, 0);

$bg-primary: #fff;
$bg-secondary: #f8f9fb;
$bg-accent: #0c862d;

$primary: #000;
$contrast: #fff;
$secondary: #636466;
$accent1: #0c862d;
$accent2: #1db23c;
$accent3: #ffbf0b;

$btn-primary: #0c862d;
$btn-hover: #1db23c;
